<div class="container-sm">
    <h3
        class="mt-4"
    >
        Select
    </h3>
    <div class="row my-4">
        <div class="col">
            <ul class="list-group">
                <li
                    routerLink="brands"
                    routerLinkActive="active"
                    class="list-group-item cursor-pointer"
                >
                    Brands
                </li>
                <li
                    routerLink=""
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                    class="list-group-item cursor-pointer"
                >
                    Cars
                </li>
            </ul>
        </div>
    </div>
</div>
