<div class="container-sm">
    <div class="row">
        <div 
            class="
                    col-12
                    col-sm-6
                    col-md-3
                    col-lg-2
                "
        >
            <button
                class="
                    btn 
                    btn-primary
                    w-100
                    mt-3
                "
                (click)="saveButton()"
            >
                {{saveLabel}}  
            </button> 
        </div>
        <div 
            class="
                    col-12
                    col-sm-6
                    col-md-3
                    col-lg-2
                "
        >
            <button
                class="
                    btn 
                    btn-secondary
                    w-100
                    mt-3
                "
                (click)="cancelButton()"
            >
                Cancel
            </button>
        </div>
    </div>
</div>
