.menu-bar{
    background-color: rgb(38, 38, 38);
    color: aliceblue;
    position: relative;
    box-shadow: 0px 4px 8px black;
}

.main-pages{
    background-color: rgb(29, 29, 29);
    color: aliceblue;
    height: 100vh;
}

.cursor-pointer{
    cursor: pointer;
}